
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/home']">Hunt Reservation System</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/posts']">posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/map']">map</a>
      </li>
    </ul>
    <span class="navbar-text">
      <span>{{title}}</span>
      <span><a [routerLink]="['/login']">login</a></span>/
      <span><a [routerLink]="['/signup']">signup</a></span>
    </span>
  </div>
</nav>