<div class="container-fluid">
  <div class="row">
    <div class="col">
      <hr class="my-4">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col">

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">lookin For Hut</h3>
        <p class="card-text">We have all varaity of Hut You are looking for..</p>
        <a href="#" class="btn btn-primary">Explore Huts</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Wants to Offar Your Hut</h3>
        <p class="card-text">Than you are at <b>Right</b> place. Just create your hut profile and leave rest to us.</p>
        <a href="#" class="btn btn-primary">Create hut</a>
      </div>
    </div>
  </div>
</div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-2">
      
    </div>
    <div class="col">
    <hr class="my-1">
    <div class="jumbotron">
      <h1 class="display-3">Welcom to Hut Reservation System</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Explore Huts</a>
      </p>
    </div>

    </div>
    <div class="col col-md-2">
     
    </div>
  </div>
</div>